<div class="card" style="margin-top: 5px;">
    <div class="card-body">
      <div class="container-fluid text-center">
        <div class="row">
          <div class="row">
            <h4 class="card-text ">Educacion</h4>
          </div>

          <div class="container-fluid" style="display: flex; justify-content: space-evenly;">
            <div>
              <img src="{{eduObjeto.otto.img}}" alt="">
                  <b>{{eduObjeto.otto.name}}</b>
                 <i>{{eduObjeto.otto.year}}</i> 
                  <br>{{eduObjeto.otto.desc}}
            </div>
            <div>
              <img src="{{eduObjeto.codo.img}}" alt="" style="height: 90px;">
                  <b>{{eduObjeto.codo.name}}</b>
                 <i>{{eduObjeto.codo.year}}</i> 
                 <br>{{eduObjeto.codo.desc}}
            </div>
            <div>
              <img src="{{eduObjeto.argPrograma.img}}" alt="">
              <b>{{eduObjeto.argPrograma.name}}</b>
             <i>{{eduObjeto.argPrograma.year}}</i> 
              <br>{{eduObjeto.argPrograma.desc}}
            </div>
          </div>
         

        </div>
      </div>
    </div>
  </div>